@import url(http://fonts.googleapis.com/css?family=Muli:300);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #333;
}
.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  opacity: 0;
}
.overlay.on {
  opacity: 1;
}
body {
  background: #262626 url('../img/bg.jpg') repeat-x 0 0;
  font-family: 'Muli', sans-serif;
}
header {
  width: 100%;
  height: 0px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  padding-top: 1em;
  font-size: 0.5em;
  background: url("../img/wood_tex.jpg") repeat-x;
  text-align: center;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fc9;
  text-shadow: #333333 0 -1px 1px, #ffffff 0 1px 1px;
}
.view {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.photo-list {
  width: 2500%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 3em;
}
.photo-item {
  display: block;
  float: left;
}
.photo-item.on .photo-frame {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.photo-frame {
  position: relative;
  width: 70%;
  margin: 0 auto;
  cursor: pointer;
  border: 30px solid #fff;
  -moz-border-image: url("../img/frame.jpg") 30 / 30px round;
  -webkit-border-image: url("../img/frame.jpg") 30 / 30px round;
  border-image: url("../img/frame.jpg") 30 / 30px round;
  -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
}
.photo-pic {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.photo-pic-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/highlight_transparent.png") no-repeat;
}
.photo-info,
.instruction-text {
  position: relative;
  width: 77%;
  margin: 2em auto;
}
.photo-info p,
.instruction-text p,
.photo-info h2,
.instruction-text h2 {
  color: #999999;
  font-size: 0.7em;
  margin: 0 0 0.3em 0;
  font-weight: normal;
}
.photo-info h2,
.instruction-text h2 {
  height: 1.3em;
  overflow: hidden;
}
.instruction-text {
  margin-top: 2em;
  text-align: center;
}
.touch-text {
  display: block;
}
.desktop-text {
  display: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Transparent
 */
.transparent {
  opacity: 0;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (orientation: landscape) {
  /* デバイスが横になる場合 */
  .photo-frame {
    width: 70%;
  }
}
@media only screen and (orientation: landscape) and (max-height: 320px) {
  /* スマホが横になる場合 */
  .photo-frame {
    width: 45%;
  }
  .photo-list {
    padding-top: 30px;
  }
  .photo-info,
  .instruction-text {
    display: none;
  }
}
@media only screen and (orientation: landscape) and (max-height: 220px) {
  /* スマホのViewportが極めて細い場合 */
  body {
    background: #333;
  }
  footer {
    display: none;
  }
  .photo-list {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  /* PCの場合 */
  .photo-frame {
    width: 75%;
  }
  .photo-info {
    width: 90%;
  }
  .photo-item {
    padding-top: 2.5em;
  }
  .desktop-text {
    display: block;
  }
  .touch-text {
    display: none;
  }
  .photo-info {
    margin-top: 3.5em;
  }
  /* 画像がオンにされた場合 */
  .photo-item.on .photo-frame {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
